@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap");
html {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

body {
  font-family: "League Spartan", sans-serif;
  height: 100vh;
}
@media (max-width: 768px) {
  body {
    height: 200vh;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 65vh;
  min-width: 100vw;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: 100vh;
    position: relative;
  }
}
header .image-section {
  background-image: url(/images/desktop-image-hero-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 65vh;
  width: 60%;
}
@media (max-width: 768px) {
  header .image-section {
    width: 100%;
    height: 60vh;
  }
}
header .hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 520px) {
  header .hamburger {
    display: inline-block;
    position: absolute;
    bottom: 38%;
    left: -85%;
  }
}
header .close {
  z-index: 9999;
  display: none;
  cursor: pointer;
}
@media (max-width: 520px) {
  header .logo img {
    display: inline-block;
    position: absolute;
    bottom: 40%;
    left: -57%;
  }
}
header nav {
  display: flex;
  align-items: center;
  color: hsl(0deg, 0%, 100%);
  padding: 4rem 5rem;
  gap: 3.5rem;
  transition: all 0.3s ease-in;
}
@media (max-width: 520px) {
  header nav {
    position: fixed;
    width: 100%;
    background-color: hsl(0deg, 0%, 100%);
    padding: 4rem 2rem 4rem 5rem;
    transform: translateX(100%);
  }
}
@media (max-width: 520px) {
  header ul {
    color: hsl(0deg, 0%, 27%);
    width: 100%;
    display: inline;
  }
}
header li {
  display: inline;
  text-transform: lowercase;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 700;
  transition: all 0.3s ease;
  margin-left: 2rem;
  padding-bottom: 1rem;
}
@media (max-width: 520px) {
  header li {
    margin-left: 1rem;
    font-size: 1.1rem;
  }
}
header li:hover {
  border-bottom: 3px solid hsl(0deg, 0%, 100%);
}
@media (max-width: 520px) {
  header li:hover {
    border-bottom: 3px solid hsl(0deg, 0%, 27%);
  }
}

aside {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  min-height: 65vh;
  text-align: left;
  background-color: hsl(0deg, 0%, 100%);
  width: 40%;
}
@media (max-width: 768px) {
  aside {
    width: 100%;
    min-height: 45vh;
    justify-content: center;
  }
}
aside h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 0%);
}
@media (max-width: 1250px) {
  aside h1 {
    font-size: 2.8rem;
  }
}
aside p {
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 63%);
  line-height: 1.5rem;
  margin: 2.5rem 0 2.5rem 0;
}
@media (max-width: 1250px) {
  aside p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
aside h2 {
  font-size: 2rem;
  color: hsl(0deg, 0%, 27%);
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}
@media (max-width: 1250px) {
  aside h2 {
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
  }
}
aside h2:hover {
  color: hsl(0deg, 0%, 63%);
}
aside h1,
aside h2,
aside p {
  width: 70%;
  align-self: center;
}
aside .arrow-img {
  margin-left: 2rem;
  filter: contrast(20%);
  width: 5rem;
  pointer-events: none;
}
aside .img-slider {
  display: flex;
  align-self: flex-start;
  padding-top: 8rem;
}
@media (max-width: 768px) {
  aside .img-slider {
    position: absolute;
    padding-top: 0;
    bottom: 50%;
    right: 0;
    bottom: 45%;
  }
}
aside .left-arrow,
aside .right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  outline: none;
  border: none;
  background-color: hsl(0deg, 0%, 0%);
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  transition: all 0.3s ease;
}
aside .left-arrow:hover,
aside .right-arrow:hover {
  background-color: hsl(0deg, 0%, 63%);
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 35vh;
  width: 100vw;
}
@media (max-width: 768px) {
  section {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}
section .dark-img,
section .light-img {
  height: 100%;
  width: 38%;
}
@media (max-width: 768px) {
  section .dark-img,
section .light-img {
    width: 100%;
    height: 33vh;
    object-fit: cover;
  }
}
section img {
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  section img {
    min-width: 100%;
    min-height: 33vh;
  }
}
section .section-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 30%;
  height: 100%;
  background-color: hsl(0deg, 0%, 100%);
}
@media (max-width: 768px) {
  section .section-text {
    min-width: 100%;
    height: 40%;
  }
}
section .section-text h3,
section p {
  width: 80%;
}
@media (max-width: 1250px) {
  section .section-text h3,
section p {
    width: 90%;
  }
}
section h3 {
  text-transform: uppercase;
  color: hsl(0deg, 0%, 27%);
  font-size: 1.6rem;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
}
@media (max-width: 1250px) {
  section h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
}
section p {
  font-size: 1.05rem;
  color: hsl(0deg, 0%, 63%);
  line-height: 1.6rem;
  letter-spacing: 1px;
}
@media (max-width: 1250px) {
  section p {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
}
@media (max-width: 768px) {
  section p {
    line-height: 1.6rem;
    letter-spacing: 1px;
    font-size: 1.05rem;
  }
}
